*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height:100%;
}
.navbar-brand{
    color:rgb(249, 101, 126);
    font-size: 50px;
    font-family: chiller;
    padding-left: 0;
    float:left;
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
}
.menu{
    width:30%;
    float:left;
    height:70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    padding-left: 0;
    margin-left: 45px;
    margin-top: 50px;
    font-size: 14px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li .nav-link:hover{
    color:pink;
}
.d-flex{
    float: left;
}
.form-control{
    font-family: 'Times New Roman';
    background: transparent;
    border:1px solid pink;
    color:white;
    border-right: none;
    font-size: 14px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    background:pink;
    border: 2px solid white;
    color: black;
    font-size: 12px;
    border-radius: 5px;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    background-color: blue;
    border-color: white;
}
.srch:focus{
    outline: none;
}
hr{
    margin-top: 2%;
}
#searchbar{
    color:white;
}
.content{
    width: 75%;
    height: auto;
    margin-left: 0;
    color:white;
    position: relative;
}
.carousel-item{
    margin-left: 30px;
    height: 10%;
    width: 95%;
    margin-top: 3%;
    transition: .9s ease-in-out;
}
.dflt{
    text-align: center;
    margin-left: 40%;
    margin-top:10%; 
}
input{
    background-color: lightblue;
    border-radius: 5px;
    border-color: white;
    font-style: italic;
}
input:hover{
    background-color: pink;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 25px;
    padding-left: 20px;
    margin-top: 6%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height:40px;
    background: pink;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18ppx;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background-color: white;
}
.content span{
    color:pink;
    font-size: 30px;
}